main {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border: solid 2px black;
    padding: 20px;
    background-color:rgb(82, 188, 207);
    color: #fff;
}

.buy-container {
    text-align: center;
    padding: 32px;
}

.buy-container h2 {
    font-size: 24px;
}

.buy-container form {
    max-width: 280px;
    margin: 0 auto;
}

.buy-container label {
    display: block;
    margin-bottom: 5px;
}

.buy-container input[type="number"],
.buy-container input[type="text"],
.buy-container input[type="number"],
.buy-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submitLink {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
#submitLink:hover {
    background-color: #0056b3;
}

